nav {
    width: 100vw;
    height: 50px;
    display: flex;
    flex-flow: row nowrap;
    justify-content: flex-end;
    position: absolute;
}

nav ul {
    list-style-type: none;
    display: flex;
    flex-flow: row nowrap;
    justify-content: flex-start;
}

nav ul li {
    line-height: 40px;
    padding-left: 10px;
    padding-right: 10px;
}

nav ul li a {
    color :white;
    text-decoration: none;
    border-left: 1px solid white;
    margin-right: 40px;
}

nav ul li {
    line-height: 50px;
    margin-left: 10px;
    margin-right: 10px;
}

nav ul li:hover {
    border-bottom: 3px solid #3e3e3e;
    cursor: pointer;
}

nav ul li a {
    color: #3e3e3e;
    text-decoration: none;
    font-family: 'Roboto', sans-serif;
}

nav ul li a:first-child {
    border-left: none;
}

.hidden {
    display: none;
}

.button {
    height: 35px;
    width: 120px;
    cursor: pointer;
    background-color: rgb(255, 150, 0);
    border-radius: 2px;
    display: flex;
    flex-flow: row nowrap;
    justify-content: center;
    align-items: center;
}

main {
    display: flex;
    flex-flow: row nowrap;
    justify-content: space-between;
    margin-right: 50px;
}

.message {
    background-color: #3e3e3e;
    color: white;
    position: relative;
    padding: 20px 10px;
    width: 250px;
    z-index: 5;
}

.message .message-article {
    display: flex;
    flex-flow: column nowrap;
    justify-content: flex-start;
    align-content: center;
    border-bottom: 1px solid #6e6e6e;
    padding: 12px 10px;
}

.message .message-errors div:first-child {
    padding-bottom: 10px;
}

.message .message-login:last-child {
    border-bottom: none;
}

.message .message-login-false {
    border-radius: 5px;
}

.message .message-login-true #logout-button {
    border-radius: 5px;
    background-color: #ff8888;
}

.message span {
    line-height: 1.2rem;
}

.message .message-login div {
    padding: 5px 10px;
    border-radius: 3px;
    width: fit-content;
    height: auto;
    cursor: pointer;
    background-color: #66ff66;
    color: black;
    margin: 8px 0;
}

.search-container {
    max-width: 960px;
    height: fit-content;
    background-color: white;
    margin-bottom: 100px;
}

.search-container .filters {
    padding: 40px 0;
    border-bottom: 1px solid #3e3e3e;
    display: flex;
    flex-flow: row wrap;
}

.search-container .filters div {
    margin-bottom: 15px;
    margin-right: 50px;
    width: 100%;
}

.search-container .filters div span {
    display: block;
    line-height: 1.4rem;
}

.search-container .filters div:nth-child(4) {
    width: 960px;
}

.search-container .filters div select,
.search-container .filters div input {
    width: 350px;
    height: 35px;
    border: 1px solid #e3e3e3;
    border-radius: 3px;
    padding: 0 5px;
    box-sizing: border-box;
}

.search-container .filters div #filter-interests-container {
    display: flex;
    flex-flow: row wrap;
    justify-content: flex-start;
}

.search-container .filters div #filter-interests-show-more {
    margin-top: 5px;
    padding-left: 8px;
    cursor: pointer;
}

.search-container .filters div .hidden {
    display: none;
}

.search-container .filters div .filter-interests {
    width: calc(100% / 3);
}

.search-container .filters div .filter-interests input[type=checkbox] {
    width: 15px;
    height: 15px;
    margin-right: 10px;
    line-height: 1.2rem;
    padding: 5px 0;
}

.search-container .filters div .filter-interests label {
    line-height: 1.2rem;
    color: black;
    padding: 5px 0;
    color: #505050;
}

.search-container .filters div input:focus,
.search-container .filters div select:focus {
    outline: none;
    border: 1px solid #a3a3a3;
}

.search-container .filters div.button {
    width: 150px;
    background-color: rgb(255, 150, 0);
    margin-top: 15px;
}

.results {
    margin-top: 50px;
}

.results h2 {
    padding-bottom: 10px;
}

.results table {
    border-collapse: collapse;
    width: 100%;
}

.results table thead>tr {
    height: 40px;
    border-top: 2px solid #3e3e3e;
    border-bottom: 2px solid #3e3e3e;
}

.results table thead>tr>td {
    line-height: 40px;
    padding: 0 8px;
    color: black;
    font-weight: bold;
}

.results table tbody {
    border-bottom: 2px solid #3e3e3e;
}

.results table tbody>tr {
    border-bottom: 1px solid rgb(255, 150, 0);
}

.results table tbody>tr>td {
    line-height: 40px;
    padding: 0 8px;
}

.results table tbody>tr>td ul {
    list-style-type: disc;
}

.results table tbody>tr>td ul li {
    line-height: 1.6rem;
}

.results table tbody>tr>td ul li:last-child {
    margin-bottom: 8px;
}




















/*/ --- footer --- /*/

footer section:first-child {
    position: relative;
    background-color: #3e3e3e;
    color: white;
    width: 100vw;
}

footer section:first-child section {
    position: relative;
    background-color: #3e3e3e;
    color: white;
    width: 100%;
    max-width: 960px;
    margin: 0 auto;
    padding-top: 20px;
    padding-bottom: 40px;
    display: flex;
    flex-flow: column nowrap;
    justify-content: flex-start;
    font-family: 'Roboto', sans-serif;
    line-height: 1.2em;
}

footer h2 {
    padding: 10px 0;
}

footer p {

}

footer p a {
    color: rgb(255, 150, 0);
    text-decoration: none;
}

footer p a:hover {
    text-decoration: underline;
}

footer ul {
    list-style-type: disc;
    list-style-position: inside
}

footer ul li,
footer ul li a {
    color: white;
    text-decoration: none;
}

footer ul li a:hover {
    text-decoration: underline;
}

footer section:last-child {
    display: flex;
    flex-flow: row nowrap;
    justify-content: space-around;
    padding: 20px 0;
}

footer section img {
    width: auto;
    height: 90px;
}